<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../partials/head', {title: 'Categorias', image: '', js: 'categories'}) %>

<body>
   <!-- Header -->
   <%- include('../partials/headerNavbar') %>
   <!-- /Header -->

   <div class="container products-wrapper">
      <div class="row">
         <div class="col-12">
            <h1 class="products-title"><%= title %></h1>
         </div>
      </div>
      <div class="product-detail">
         <div class="row">
            <div id="products-container" class="col-8 row products-container pl-5">
 
               <!-- Products from API filtered by category -->
               
            </div>
            <div class="col-12 col-lg-4">
               <article class="product-detail-info">
                  <h2 class="product-detail-title categories" style="font-size: 20px; cursor: pointer;" id="allProducts">
                     Todos los productos
                  </h2>
                  <hr>

                  <% if (categories.length > 0) { %>

                  <% categories.forEach(category => { %>
                     <% if (category.products.length > 0) { %>
                        <a class="filter" data-category="<%= category.name %>" href="/products/categories/<%= category.name %>">
                           <h2 class="product-detail-title categories" style="font-size: 15px; cursor: pointer;" id="<%= category.name %>">
                              <%= category.name %> 
                           </h2>
                        </a>
                        <hr>
                     <% } %>
                     
                  <% }) %>

                  <% } %>
                  
                  
               </article>
            </div>
         </div>
      </div>
   </div>

   <!-- footer -->
   <%- include('../partials/footer') %>
   <!-- /footer -->
</body>

</html>