<%- include('header') %>

<h1>Película #<%= movie.id %> </h1>
<h2>Título: <%= movie.title %></h2>
<p>Premios: <%= movie.awards %></p>
<p>Fecha de Estreno: <%= movie.release_date %></p>
<p>Genero: <%= movie.genre.name %></p>
<p>Autores</p>
<ul>
    <% movie.actors.forEach(actor => { %>
        <li><%= actor.first_name %> <%= actor.last_name %></li>
    <% }) %>
</ul>
<p>Duración: <%= movie.length %></p>
<p>Rating: <%= movie.rating %></p>

<div>
    <a href="/movies/<%= movie.id %>/edit">
        <button>Editar</button>
    </a>
    <form action="/movies/<%= movie.id %>/delete" method="post">
        <button type="submit">Borrar</button>
    </form>
</div>
<%- include('footer') %>