<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', { title: 'Editar usuario' }) %>
<body>
    <%- include('../partials/header') %>
    <main>
        <div class="container">
            <section>
                <div class="columns is-centered">
                    <div class="column is-6">
                        <h1>Editar usuario</h1>
                        <figure><img class="is-rounded" src="/img/users/<%= user.image %>" alt="" onerror="this.src = 'https://i.pravatar.cc/150?img=2'"></figure>
                        <form action="/users/<%= user && user.id %>?_method=PUT" method="POST" enctype="multipart/form-data">

                            <input type="hidden" name="currentImage" value="<%= user.image %>">

                            <div class="field">
                                <label for="firstname">Nombre</label>
                                <div class="control">
                                    <input type="text" name="firstname" value="<%= user && user.firstname %>">
                                </div>
                                <p class="feedback"></p>
                            </div>

                            <div class="field">
                                <label for="lastname">Apellido</label>
                                <div class="control">
                                    <input type="text" name="lastname" value="<%= user && user.lastname %>">
                                </div>
                                <p class="feedback"></p>
                            </div>

                            <div class="field">
                                <label for="email">Email</label>
                                <div class="control">
                                    <input type="email" name="email" value="<%= user && user.email %>">
                                </div>
                                <p class="feedback"></p>
                            </div>

                            <div class="field">
                                <label for="password">Contraseña</label>
                                <div class="control">
                                    <input type="password" name="password" value="<%= user && user.password %>">
                                </div>
                                <p class="feedback"></p>
                            </div>

                            <div class="field">
                                <label for="name">Imagen</label>
                                <div class="control">
                                    <input type="file" name="image">
                                </div>
                                <p class="feedback"></p>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <button type="submit">Crear usuario</button>
                                </div>
                            </div>

                        </form>  
                    </div>
                </div>
            </section>
        </div>
    </main>
</body>
</html>