<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', { title: 'Buscar usuarios' }) %>
<body>
    <%- include('../partials/header') %>
    <main>
        <div class="container">
            <section>
                <div class="columns is-centered">
                    <div class="column is-6">
                        <h1>Búsqueda de usuarios</h1>
                        <form action="/users/search">
                            <div class="field">
                                <div class="control">
                                    <input type="text" name="search" value="<%= search ? search : "" %>" placeholder="Ingresa tu búsqueda&hellip;">
                                    <button type="submit">Buscar</button>
                                </div>
                                <p class="feedback <%= locals.errors && errors.search ? 'is-danger' : '' %> ">
                                    <%= locals.errors && errors.search ? errors.search.msg : '' %> 
                                </p>
                            </div>
                        </form>
                        <hr>
                        <% locals.users && users.forEach(user => { %>
                            <%- include('user', { user }) %>
                        <% }) %>
                        <% if (locals.users && users.length == 0) { %>
                            <p>No se encontraron usuarios</p>
                        <% } %>
                    </div>
                </div>
            </section>
        </div>
    </main>
</body>
</html>